/* 
    Created on : 31/08/2019, 07:26:14 PM
    Author     : Zaid
*/
a:hover{
    text-decoration: none;
}
.navbar a{
    color: #00f;
    font-size: 20px;
}
.navbar img{
    width: 80px;
    margin: 0;
    padding: 0;
}
.navbar span img{
    width: 30px;
    margin: 0;
    padding: 0;
}
